.filter {
  padding: map-get($spacers, 2);
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.filter__option {
    flex: 1 0 0;
    transition: flex .5s ease-in-out;
    &--geo {
      order: 0;
      .filter--search & {
        flex-grow: 0.00001;
      }
    }
    &--add {
      order: 1;
      margin: 0 map-get($spacers, 2);
      flex-grow: 0;
      .filter__label {
        display: none;
      }
    }
    &--address {
      order: 2;
    }
}

.filter__button {
  @extend .btn;
  @include button-variant($primary, $primary);
  transition: width .5s ease-in-out;
  svg {
    fill: color-yiq($primary);
  }
}

.filter__label {
  transition: width .5s ease-in-out;
  display: inline-block;
  overflow-x: hidden;
  .filter--search & {
    max-width: 0;
  }
}

.filter__button--search {
  user-select: auto;
  width: 100%;
  &::before {
    content: 'aaaaa';
  }
  &::placeholder {
    opacity: 1;
    color: inherit;
    font: inherit;
  }
  &:not(:placeholder-shown), &:focus {
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-btn-border-width solid $input-border-color;
    @include transition($input-transition);

    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();
  }
}

.filter__submit {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  opacity: 0;
  user-select: none;
}
