.places > ul {
  list-style: none;
  padding: 0;
}

.place {
  @include make-row();

  &__thumb {
    @extend .col-auto;
  }

  &__body {
    @extend .col;
  }

  &__content {

  }
    &__title {
      font-size: inherit;
    }
    &__description {

    }

  &__controls {

  }
    &__favourite {
      @extend .btn-sm;
    }
    &__show {
      @extend .btn, .btn-link, .btn-sm;
    }
}
