.overlay-nav {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &__home, &__user {
        pointer-events: auto;
    }
}

.overlay-nav__home {

}

.overlay-nav__user {

}


.overlay-map {

}
